html {
  box-sizing: border-box;
  color: #fff;
  background-color: #dbd6cf;
  line-height: 1.5;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

body {
  margin: 0em;
}

h1 {
  text-align: center;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: "Bevan";
}

.nav {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: sans-serif;
}

ul {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hnav li {
  display: inline;
  position: relative;
  float: none;
  text-align: center;
  list-style-type: none;
}

.hnav a {
  float: none;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  background-color: #713837;
  padding: .5em .75em;
  margin: 0em;
  border-radius: 4px;
}

.hnav a:hover {
  background-color: #f33;
}
