html {
  box-sizing: border-box;
  color: #fff;
  background-color: #dbd6cf;
  line-height: 1.5;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
  font-family: Bevan, serif;
}

.nav {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

.hnav li {
  display: inline;
  position: relative;
  float: none;
  text-align: center;
  list-style-type: none;
}

.hnav a {
  float: none;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  background-color: #713837;
  padding: .5em .75em;
  margin: 0;
  border-radius: 4px;
}

.hnav a:hover {
  background-color: #f33;
}
